<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>
<div id="root">
    <h2>人员列表</h2>
    <input type="text" placeholder="请输入名字" v-model="keyWords">
    <ul>
        <li v-for="(i,index) in filPersons" :key="i.id">
            {{i.name}}-{{i.age}}-{{i.sex}}
        </li>
    </ul>
</div>

</body>
<script type="text/javascript">
    //用watch实现
    /*const vm = new Vue({
        el: '#root',
        data: {
            keyWords:'',
            persons:[
                {id:'001',name:'马冬梅',age:'18',sex:'女'},
                {id:'002',name:'周冬雨',age:'20',sex:'女'},
                {id:'003',name:'周杰伦',age:'22',sex:'男'},
                {id:'003',name:'林俊杰',age:'22',sex:'男'},
            ],
            filPersons:[

            ]
        },
        watch:{
            keyWords:{
                immediate:true,
                handler(val){
                    this.filPersons=this.persons.filter((p)=>{
                    return p.name.indexOf(val)!==-1
                })
                }

            }
        }
    })*/

    const vm = new Vue({
        el: '#root',
        data: {
            keyWords:'',
            persons:[
                {id:'001',name:'马冬梅',age:'18',sex:'女'},
                {id:'002',name:'周冬雨',age:'20',sex:'女'},
                {id:'003',name:'周杰伦',age:'22',sex:'男'},
                {id:'003',name:'林俊杰',age:'22',sex:'男'},
            ],
        },
        computed:{
            filPersons(){
                return this.persons.filter((p)=>{
                    return p.name.indexOf(this.keyWords)!==-1
                })
            }
        }
    })
</script>
</html>
