<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>
<div id="root">
    <h2>人员列表</h2>
    <input type="text" placeholder="请输入名字" v-model="keyWords">
    <button @click="sortType = 2">年龄升序</button>
    <button @click="sortType = 1">年龄降序</button>
    <button @click="sortType = 0">原顺序</button>
    <ul>
        <li v-for="(i,index) in filPersons" :key="i.id">
            {{i.name}}-{{i.age}}-{{i.sex}}
        </li>
    </ul>
</div>

</body>
<script type="text/javascript">

    const vm = new Vue({
        el: '#root',
        data: {
            keyWords:'',
            sortType:0,//0原顺序,1降序,2升序
            persons:[
                {id:'001',name:'马冬梅',age:'18',sex:'女'},
                {id:'002',name:'周冬雨',age:'20',sex:'女'},
                {id:'003',name:'周杰伦',age:'28',sex:'男'},
                {id:'003',name:'林俊杰',age:'24',sex:'男'},
            ],
        },
        computed:{
            filPersons(){
                const arr = this.persons.filter((p)=>{
                    return p.name.indexOf(this.keyWords)!==-1
                })
                //判断是否需要排序
                /*if(this.sortType===0){
                    return arr
                }else if(this.sortType===1){
                    return arr.sort((a,b)=>{
                        return b.age-a.age
                    })
                }else if(this.sortType===2){
                    return arr.sort((a,b)=>{
                        return a.age-b.age
                    })
                }*/
                if(this.sortType){
                    arr.sort((a,b)=>{
                        return this.sortType === 1 ? b.age-a.age : a.age-b.age
                    })
                }
                return arr
            }
        }
    })
</script>
</html>
